body {
    margin: 0;  /*外边距设置为0*/
    padding: 25px;  /*内边距设置为10*/ 
    font-family: Arial, sans-serif;
    background-image: url("008.png");
    background-size: cover;  /* 使背景图像覆盖整个页面 */
    background-repeat: no-repeat;  /* 背景图像不重复 */
    background-attachment: fixed;  /* 背景图像固定，滚动时不移动 */
    
}
main {
    text-align: center;
}
.card {
    /* 设置卡片的背景颜色为白色 */
    background: rgba(255, 255, 255, 0.731);
    backdrop-filter: blur(5px);

    /* 添加阴影效果，使卡片在页面上浮起 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* 设置卡片的边框圆角 */
    border-radius: 50px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    color:#3a274c;
}
.card h1{
    font-size: 40px;
}
.card p{
    font-size: 30px;
}
.card:hover {
    /* 增加阴影效果，使卡片在页面上浮起 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* 降低背景的透明度 */
    background: rgba(255, 255, 255, 0.85);
}
.current-day {
    background-color: rgba(105, 82, 162, 0.63);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.progress-container {
    width: 80%;
    margin: 30px;
    background-color: #105312;
    border-radius: 15px;
  }
  
  .progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 15px;
    transition: width 1s ease-in-out;
  }
  
  .progress-label {
    margin-top: 10px;
    font-size: 25px;
  }